spring:
  application:
    name: polling-service-backend
  jackson:
    time-zone: UTC

  datasource:
    url: jdbc:postgresql://localhost:5432/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect

    database: postgresql
    hibernate:
      ddl-auto: validate
    show-sql: ${DEBUG}

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    out-of-order: false
    validate-on-migrate: true

server:
  port: ${SERVER_PORT:8080}
  error:
    whitelabel:
      enabled: false
    path: /
  servlet:
    encoding:
      charset: utf-8
      enabled: true
      force: true
